<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hrds.rducm.gitlab.infra.mapper.RdmMemberMapper">

    <select id="selectMembersRepositoryAuthorized"
            resultType="org.hrds.rducm.gitlab.domain.aggregate.MemberAuthDetailAgg">
        select count(rgm.repository_id) as authorized_repository_count, rgm.user_id
        from rducm_gitlab_member rgm
        where rgm.organization_id = #{organizationId}
        and rgm.project_id = #{projectId}
        <if test="userIds!=null and userIds.size > 0">
            and rgm.user_id in
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        </if>
        group by rgm.user_id
    </select>

    <insert id="batchInsertCustom" parameterType="org.hrds.rducm.gitlab.domain.entity.RdmMember">
        insert into rducm_gitlab_member
        (organization_id,
        project_id,
        repository_id,
        user_id,
        gl_project_id,
        gl_user_id,
        gl_access_level,
        gl_expires_at,
        sync_gitlab_flag,
        sync_gitlab_date,
        sync_gitlab_error_msg)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.organizationId},
            #{item.projectId},
            #{item.repositoryId},
            #{item.userId},
            #{item.glProjectId},
            #{item.glUserId},
            #{item.glAccessLevel},
            #{item.glExpiresAt},
            #{item.syncGitlabFlag},
            #{item.syncGitlabDate},
            #{item.syncGitlabErrorMsg})
        </foreach>
    </insert>


    <select id="selectUserGroupAccessLevel" resultType="org.hrds.rducm.gitlab.domain.entity.RdmMember">

        select * from rducm_gitlab_member rgm
        where 1=1

        AND  rgm.type='group'
        AND  rgm.sync_gitlab_flag=1

        <if test="userIds!=null and userIds.size > 0">
            and rgm.user_id in
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        </if>
    </select>

    <select id="groupMemberByUserId" resultType="org.hrds.rducm.gitlab.domain.entity.RdmMember">
        SELECT
        	*
        FROM
        	rducm_gitlab_member rgm
        WHERE
        	rgm.project_id = #{projectId,jdbcType=BIGINT}
        AND
        	rgm.type = 'group'

        <if test="userIds!=null and userIds.size > 0">
            and rgm.user_id in
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        </if>
    </select>
</mapper>
